body {
  font-family: Georgia;
  font-size: 18px;
  line-height: 150%;
  color: #333;
}
body a {
  color: #00325f;
  text-decoration: none;
}
body a:hover {
  color: #ff6a00;
  text-decoration: underline;
}
#wrap {
  background: url("logo.png") right 30px no-repeat;
  width: 1000px;
  margin: 0 auto 0 auto;
  padding-top: 150px;
  background-size: 400px 80px;
}
#wrap-ali {
  background: url("alibaba.png") right 30px no-repeat;
  width: 1000px;
  margin: 0 auto 0 auto;
  padding-top: 150px;
  background-size: 250px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0;
  border-top: 1px solid #ccc;
}
h2 {
  color: #00325f;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.col-9-2,
.col-9 {
  width: 730px;
  padding-left: 15px;
  padding-right: 35px;
  float: left;
}
.col-3 {
  float: left;
  width: 200px;
  margin-left: 20px;
  padding-top: 5px;
}
.info {
  width: 1000px;
  margin-bottom: 80px;
}
.info:before,
.info:after {
  content: " ";
  display: table;
}
.info:after {
  clear: both;
}
.info .photo {
  margin-top: 25px;
  width: 180px;
  height: 227px;
  float: left;
}
.info .photo img {
  width: 180px;
  height: 227px;
  border: solid 1px #ccc;
}
.info .main {
  margin-left: 20px;
  width: 515px;
  float: left;
}
.info .main:before,
.info .main:after {
  content: " ";
  display: table;
}
.info .main:after {
  clear: both;
}
.info .sp {
  float: left;
  width: 100%;
  padding-top: 18px;
  border-top: 1px solid #eee;
}
.info .sp2 {
  width: 100%;
  padding-top: 18px;
  border-top: 1px solid #eee;
}
.info p {
  margin-bottom: 18px;
  font-weight: 200;
  line-height: 1.4;
}
.info p.sp {
  padding-top: 18px;
  border-top: 1px solid #eee;
}
.info p.pri {
  font-size: 20px;
  color: black;
}
.info .b {
  font-weight: bold;
  color: black;
}
.sec-f {
  width: 1000px;
  margin-bottom: 50px;
  padding-left: 15px;
}
.sec {
  width: 1000px;
  margin-bottom: 50px;
  padding: 0 0 0 30px;
}
.sec h3 {
  color: #666;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.sec-pub {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.sec-pub h4 {
  font-size: 20px;
  font-weight: normal;
  font-family: Arial;
  color: black;
}
.sec-pub li {
  margin-bottom: 20px;
}
.sec-pub li .t {
  font-weight: bold;
}
.last {
  padding-bottom: 0;
  border: 0;
}
.photo {
  float: right;
  background-color: #bbb;
  width: 200px;
  height: 227px;
}
.link {
  float: left;
  margin-top: 80px;
  border-top: solid 1px #eee;
}
.link a {
  padding: 10px 0 10px 0;
  margin: 0;
  display: block;
  width: 200px;
  border-bottom: solid 1px #eee;
}
.link2 {
  float: left;
  margin-top: 40px;
  border-top: solid 1px #eee;
}
.link2 a {
  padding: 10px 0 10px 0;
  margin: 0;
  display: block;
  width: 180px;
  border-bottom: solid 1px #eee;
}
.menu-bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px;
  border-bottom: solid rgba(229, 229, 229, 0.9) 1px;
}
.menu-bar .main-menu {
  width: 960px;
  margin: 13px auto 0 auto;
  text-align: center;
  list-style-type: none;
}
.menu-bar .main-menu li {
  display: table-cell;
}
.menu-bar .main-menu a,
.menu-bar .main-menu a:hover,
.menu-bar .main-menu a:active {
  font-family: "Helvetica";
  color: #00325f;
  text-decoration: none;
  font-size: 14px;
  padding-right: 40px;
  padding-left: 40px;
}
.highlight {
  color: #c10043;
  font-weight: bold;
}
